#footer{
    background-color: $success-color;
    ;
    h3{
        font-size: 16px;
    }
    ul{
        padding: 0px;
        li{
            
          a{
           font-size: 12px;
           padding: 5px;
          }

        }
    }
    
}