/*Section header*/

#header{

}
.navbar-nav{
height: 50px;
background-color: #F9E6DF;
color: black;
}

.nav-link-logo{

padding: 15px;
font-size: 15px;
}

.nav-link-item{

}
.nav-link{

}

.nav-link li{
list-style: none;
float: right;
padding: 15px;
}
.nav-link li:hover{
    border-bottom: darkmagenta;
    }


.nav-link a{
text-decoration: none;
color: black;

}

.navbar-main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
text-align: center;
}