body, p, h1, h2, h3, h4, h5, h6, div, ul, li,a{
  margin: 0px;
  padding: 0px;
}

#navbar-body{
  display: inline-block;
  float: left;
  
}

.bg-primary{
background-color:#E2797E ;
color:#222222 ;
}

.bg-success{
  background-color:#F1F1F1 ;
  color:#ffffff ;
}






.nav-link ul{
  
  display: inline-block;
}
.nav-link li{
text-align: center;
list-style: none;
margin: 5px;
padding: 5px;
}


.nav-link a{
  text-decoration: none;
  color: #222222;
  
}
.gift{
  display: inline-block;
 float: left;
 margin: 20px;
}
.gift span{
  
}